@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu-list__link:hover, .language__ru:hover, .git__link a:hover, .footer__school a:hover {
  color: #BDAE82;
}

.footer-sochial__link-inst, .footer-sochial__link-fs, .footer-sochial__link-tw, .footer-sochial__link-pin {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

body {
  background-color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 150px);
}

.header {
  height: 90px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo {
  width: 50px;
  height: 50px;
  background: url(../img/icons/logo.svg) no-repeat center;
  cursor: pointer;
}

.header__logo:hover {
  background: url(../img/icons/logo_hover.svg) no-repeat center;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list__item {
  margin-right: 31px;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language__en--active {
  cursor: pointer;
  color: #BDAE82;
}

.language__slash {
  margin: 0 9px 0 8px;
}

.language__ru {
  cursor: pointer;
}

.hero {
  background: url(../img/bg.jpg) 0 0/cover no-repeat;
  margin: 0 -20px 100px;
  padding-top: 250px;
  max-width: 1480px;
  margin: 0 auto 100px;
}

.hero__content {
  width: 38.3%;
  padding-left: 64px;
  padding-bottom: 330px;
}

.hero__content._active {
  opacity: 0.5;
}

.hero-title__text {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 128px;
  margin: 0px 0;
}

.hero__text {
  line-height: 40px;
  margin-bottom: 25px;
}

.btn {
  width: 220px;
  height: 55px;
  background: #BDAE82;
  border-radius: 0px;
  line-height: 40px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
}

.menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0 60px;
  }
  .header__language {
    margin-right: 20px;
  }
  .menu-list__link {
    font-size: 35px;
    line-height: 73px;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon:hover::before, .menu__icon:hover::after, .menu__icon:hover span {
    background-color: #BDAE82;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu {
    z-index: 2;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: black;
    padding: 130px 30px 30px 18%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu._active {
    right: 0;
  }
  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu__list > li {
    margin-bottom: 15px;
  }
  .header-menu__list > li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .hero__content {
    width: 50%;
    padding-left: 60px;
  }
  .hero {
    height: 35rem;
    padding-top: 170px;
  }
}

@media (max-width: 768px) {
  .hero__content {
    width: 63%;
    padding-left: 60px;
  }
  .hero {
    height: 29.5rem;
    background-size: 130% 110%;
    padding-top: 170px;
  }
  .hero-title__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }
  .hero__text {
    line-height: 24px;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 15px;
  }
  .hero__content {
    width: 90%;
    padding-left: 0px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero {
    height: 29.5rem;
    background-size: 240% 110%;
    padding-top: 135px;
  }
  .hero__text {
    text-align: center;
  }
}

.skills {
  padding: 0 20px;
  margin-bottom: 100px;
}

.skills._active {
  opacity: 0.5;
}

.skills__title {
  margin-bottom: 60px;
}

.title {
  position: relative;
}

.title::before {
  content: '';
  height: 2px;
  width: 18.8%;
  display: block;
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: #BDAE82;
}

.title::after {
  content: '';
  width: 18.8%;
  height: 2px;
  background-color: #BDAE82;
  position: absolute;
  bottom: 50%;
  right: 25%;
}

.title__text {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.skills-item__img {
  margin-bottom: 50px;
}

.skills-item__subtitle {
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.skills-item__text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1200px) {
  .skills__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 43%;
            flex: 1 1 43%;
    padding: 0 10px 40px;
    margin-right: 44px;
    margin-bottom: 40px;
  }
  .skills__item:nth-child(2n) {
    margin-right: 0;
  }
  .title::before {
    width: 11%;
    left: 31%;
  }
  .title::after {
    content: '';
    width: 11%;
    right: 31%;
  }
}

@media (max-width: 992px) {
  .title::before {
    width: 13%;
    left: 27%;
  }
  .title::after {
    content: '';
    width: 13%;
    right: 27%;
  }
}

@media (max-width: 768px) {
  .title::before {
    width: 17.7%;
    left: 20%;
  }
  .title::after {
    content: '';
    width: 17.7%;
    right: 20%;
  }
  .title__text {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .title::before {
    width: 21%;
    left: 10%;
  }
  .title::after {
    content: '';
    width: 21%;
    right: 10%;
  }
  .skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 98%;
            flex: 1 1 98%;
    padding: 0 10px 40px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .skills__item:last-child {
    margin-bottom: 0;
  }
}

.portfolio {
  padding-top: 9px;
  margin-bottom: 100px;
}

.portfolio__title {
  position: relative;
  margin-bottom: 60px;
}

.portfolio__title::before {
  content: '';
  left: 22%;
}

.portfolio__title::after {
  content: '';
  right: 22%;
}

.portfolio__seasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.portfolio__btn {
  border: 2px solid #BDAE82;
  color: #BDAE82;
  background-color: #000;
  padding: 0;
  line-height: 40px;
  text-align: center;
  margin-right: 5px;
  width: 220px;
  height: 55px;
}

.portfolio__btn:hover {
  background: #BDAE82;
  border: 2px solid #BDAE82;
  color: #000;
}

.portfolio__btn--active {
  background: #BDAE82;
  border: 2px solid #BDAE82;
  padding: 0px;
  line-height: 40px;
  text-align: center;
  color: #000;
  width: 220px;
}

.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.portfolio-gallery__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin-right: 1.7%;
  margin-bottom: 1.7%;
}

.portfolio-gallery__photo img {
  width: 100%;
}

.portfolio-gallery__photo:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .portfolio__title::before {
    content: '';
    left: 28%;
  }
  .portfolio__title::after {
    content: '';
    right: 28%;
  }
}

@media (max-width: 992px) {
  .portfolio__title::before {
    content: '';
    left: 24%;
  }
  .portfolio__title::after {
    content: '';
    right: 24%;
  }
  .portfolio-gallery__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-right: 1.7%;
    margin-bottom: 1.7%;
  }
  .portfolio-gallery__photo img {
    width: 100%;
  }
  .portfolio-gallery__photo:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio-gallery__photo:nth-child(3) {
    margin-right: 1.7%;
  }
  .portfolio__seasons {
    width: 70%;
    margin: 0 auto 60px;
  }
  .portfolio__btn {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .portfolio__btn--active {
    padding: 0;
    margin: 0 5px 5px 0;
  }
}

@media (max-width: 768px) {
  .portfolio__title::before {
    content: '';
    width: 23%;
    left: 10%;
  }
  .portfolio__title::after {
    content: '';
    width: 23%;
    right: 10%;
  }
  .portfolio-gallery__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62%;
            flex: 0 0 62%;
    margin-right: 0;
    margin-bottom: 1.7%;
  }
  .portfolio-gallery__photo img {
    width: 100%;
  }
  .portfolio-gallery__photo:nth-child(3) {
    margin-right: 0;
  }
  .portfolio-gallery__photo :last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .portfolio__title::before {
    content: '';
    left: 4%;
  }
  .portfolio__title::after {
    content: '';
    right: 4%;
  }
  .portfolio-gallery__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 98%;
            flex: 0 0 98%;
  }
}

@media (max-width: 400px) {
  .portfolio__title::before {
    content: '';
    left: 1%;
  }
  .portfolio__title::after {
    content: '';
    right: 1%;
  }
}

.video {
  margin-top: -30px;
  margin-bottom: 100px;
}

.video__title {
  margin-bottom: 60px;
}

.video__img {
  position: relative;
}

.video__img img {
  width: 100%;
}

.video__play {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 42%;
  left: 46%;
  background: url(../img/icons/video-play.svg) no-repeat center;
  border: none;
}

.video__play:hover {
  background: url(../img/icons/Play_hover.svg) no-repeat center;
}

@media (max-width: 1200px) {
  .video__play {
    width: 75px;
    height: 75px;
    background-size: 100%;
  }
  .video__play:hover {
    background-size: 100%;
  }
}

@media (max-width: 768px) {
  .video__play {
    top: 40%;
    left: 43%;
  }
}

@media (max-width: 480px) {
  .video__play {
    width: 40px;
    height: 40px;
    top: 40%;
    left: 43%;
  }
}

.price {
  margin-bottom: 100px;
}

.price__title {
  margin-bottom: 60px;
}

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32%;
          flex: 1 0 32%;
  border: 3px solid #BDAE82;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__item:last-child {
  margin-right: 0;
}

.price-item__label {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}

.price-item__sum {
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #BDAE82;
  margin-bottom: 20px;
}

.price-item__list {
  margin-bottom: 40px;
}

.item-list__text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.price-item__btn {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .price__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 420px;
    margin: 0 auto;
  }
  .price__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin-right: 0;
    margin-bottom: 50px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__item:last-child {
    margin-bottom: 0;
  }
}

.contacts {
  background: url(../img/contacts.jpg) 0 0/cover no-repeat;
  height: 35rem;
  max-width: 1480px;
  margin: 0 auto;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts-title__text {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  text-align: left;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contacts__email {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  border-radius: 0px;
  padding: 5px 0 5px 20px;
  margin-bottom: 20px;
  height: 50px;
}

.contacts__email::-webkit-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__email:-ms-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__email::-ms-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__email::placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__phone {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  border-radius: 0px;
  padding: 5px 0 5px 20px;
  margin-bottom: 20px;
  height: 50px;
}

.contacts__phone::-webkit-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__phone:-ms-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__phone::-ms-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__phone::placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__textarea {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  border-radius: 0px;
  resize: none;
  padding: 5px 55px 5px 20px;
  margin-bottom: 30px;
  height: 100px;
  line-height: 40px;
}

.contacts__textarea::-webkit-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__textarea:-ms-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__textarea::-ms-input-placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__textarea::placeholder {
  line-height: 40px;
  color: #BDAE82;
}

.contacts__btn {
  height: 55px;
}

@media (max-width: 992px) {
  .contacts {
    background: url(../img/contacts.jpg) 55%/cover no-repeat;
    height: 30rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0px;
  }
  .contacts-title__text {
    font-size: 32px;
    line-height: 64px;
    text-align: center;
  }
  .contacts__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0px 0 0;
  }
  .contacts__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .contacts__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  .contacts {
    background: url(../img/contacts.jpg) 75%/cover no-repeat;
  }
  .contacts__box {
    width: 90%;
  }
}

.footer {
  width: 100%;
  height: 150px;
  line-height: 50px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.footer__git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.git__c {
  margin-right: 20px;
}

.git__year {
  margin-right: 20px;
}

.footer-sochial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-sochial__link-inst {
  background: url(../img/icons/so1.svg) no-repeat center;
}

.footer-sochial__link-inst:hover {
  background: url(../img/icons/so1h.svg) no-repeat center;
}

.footer-sochial__link-fs {
  background: url(../img/icons/so2.svg) no-repeat center;
}

.footer-sochial__link-fs:hover {
  background: url(../img/icons/so2h.svg) no-repeat center;
}

.footer-sochial__link-tw {
  background: url(../img/icons/so3.svg) no-repeat center;
}

.footer-sochial__link-tw:hover {
  background: url(../img/icons/so3h.svg) no-repeat center;
}

.footer-sochial__link-pin {
  margin-right: 0;
  background: url(../img/icons/so4.svg) no-repeat;
}

.footer-sochial__link-pin:hover {
  background: url(../img/icons/so4h.svg) no-repeat center;
}

@media (max-width: 768px) {
  .footer {
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 50px;
    padding: 0px 0;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .footer__git {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .footer__school {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */